[core]
	excludesfile = /Users/takeya/.gitignore_global
	editor = code --wait
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = tk-zoo
	email = takeya@rehabforjapan.com
[commit]
	template = /Users/takeya/.stCommitMsg
[marge]
	tool = code --wait \"$MERGED\"
[push]
	default = simple
